# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
.nfs*
*/.nfs*
.*~
*/.*~

# autoconf files
*/config.*
*/configure
*/Makefile
*/Makefile.in
*/.deps
/.deps
*/aclocal.m4
*/depcomp
*/install-sh
*/libtool
*/ltmain.sh
*/missing
*/stamp-h1
*/autom4te.cache

# resulting binary
Rasinki/Rasinki

# Ogre files
*/Ogre.log
*/ogre.cfg
